.site-wrapper {
  text-align: center;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

.book-list {
  list-style: none;
}

.book-article {
  color: blueviolet;
}

.selected-book {
  background-color: coral;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}